
.header{
    background-color: #8bb57c;
    color:#ffffff;
    white-space: nowrap;
    text-align: center;
    padding: 20px 0;
    border-radius: 30px;
    text-shadow: 0 0 15px #37552c;
    width: 48%;
    margin-left: 26%;
    
}

/* background color --------------------------------------------------------------*/
body {
    background: linear-gradient(135deg, #ebebdd , #edd9d9);
    font-family: 'Afacad Flux', sans-serif;
    
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        url('../image/strawberry.png'), 
        url('../image/strawberry2.png'),
        url('../image/strawberry2.png'),
        url('../image/strawberry3.png'), 
        url('../image/strawberry4.png'),
        url('../image/strawberry4.png'); 
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 5% 30%, 50% 70%, 80% 15%, 15% 98%, 95% 80%, 40% 12%;
    background-size: 200px, 300px, 300px, 350px, 200px, 200px;
    opacity: 0.3; 
    z-index: -1;
}

/* MENU ---------------------------------------------------------------------------*/
    .sidebar {
        width: 60px; 
        height: 100vh;
        background: #d8545d ;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
        text-align: center;
    }

    /* icon size menu ------------------------------------------------------------------*/
    .sidebar i {
        font-size: 20px;
    }

    /* menu links -----------------------------------------------------------------------*/
    .sidebar a {
        display: block;
        justify-content: center;
        color: white;
        padding: 15px;
        font-size: 18px;
    }

    /* shift content right, not covered by menu------------------------------------------*/
    .content {
        margin-left: 80px; 
    }

    /* Hover effect menu---------------------------------------------------------------- */
    .sidebar a:hover i {
        color: #ffffff; 
        transform: scale(1.2); 
        text-shadow: 0 0 10px #FFD700; 
    }

.review-form {
    max-width: 600px;
    margin: auto;
    background-color: #dbf5d6;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 12px #7cb28488;
}

.review-form input,
.review-form textarea,
.review-form button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.review-form button {
    background-color: #8bb57c;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 5px #2d552d;
}

.review-form button:hover {
    background-color: #6f9b61;
}

.back{
    position: absolute;
    top: 20px;
    left: 80px; 
    background-color: #d8545d;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;

}
.back:hover {
    background-color: #b14047;
}
